<IfModule mod_rewrite.c>
    <iFModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </iFModule>
</IfModule>


RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ 1% [L,R=301]
RewriteRule ^ index.php [L]
